body {
  background: #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
* {
  font-family: cursive;
  box-sizing: padding-box;
}
form {
  width: 1000px;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  background: rgb(18, 18, 18);
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}
input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
label {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
button {
  float: right;
  background: rgb(35, 174, 202);
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}
button:hover {
  background-color: red;
}
.error {
  background: #f2dede;
  color: #0c0101;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
h1 {
  text-align: center;
  color: rgb(134, 3, 3);
}
a {
  float: right;
  background: rgb(183, 225, 233);
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
